body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

header {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

ul {
  list-style-type: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  font-style: normal;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

.logo-web {
  color: #2e2f42;
}

.nav-links {
  font-weight: 500;
  text-decoration: none;
  color: #2e2f42;
}

.address-link {
  font-weight: 400;
  text-decoration: none;
  color: #434455;
  font-style: normal;
}

.address-link-1:focus,
.nav-links:focus {
  color: #404bbf;
}

.address-link-1 {
  font-weight: 400;
  text-decoration: none;
  color: #434455;
  font-style: normal;
}

.address-link-1:hover,
.nav-links:hover {
  color: #404bbf;
}

.h1-banner {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #fff;
  text-align: center;
  letter-spacing: 0.02em;
}

.h2-text-2-section {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.2;
}

.h2-text-1 {
  font-weight: 700;
  font-size: 36px;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

.h3-text {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.banner {
  background-color: #2e2f42;
}

.button {
  font-family: inherit;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.team {
  background-color: #f4f4fd;
}

.team-card {
  background-color: #fff;
}

.port-card {
  background-color: #fff;
}

.footer-section {
  background-color: #2e2f42;
  color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.logo-footer {
  color: #f4f4fd;
}
