/* common styles */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 288px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section-paddings {
  padding-top: 120px;
  padding-bottom: 120px;
}

button {
  cursor: pointer;
  box-sizing: border-box;
  height: 56px;
  padding: 16px 32px;
  font-size: 16px;
  font-weight: 500;
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

.paragraph {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 96px 0;
}

/* common tablet */

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }

  @media not screen and (min-width: 1158px) {
    .container-secondary {
      max-width: 582px;
    }
  }
}

/* common desktop */

@media screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }

  .container {
    max-width: 1158px;
  }
}

/* header */

.page-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-section {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  font-style: normal;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-web {
  color: #2e2f42;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-links {
  font-weight: 500;
  text-decoration: none;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  position: relative;
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-links::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: #404bbf;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-links.current::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: #404bbf;
}

.nav-links-list {
  display: none;
}

.address-link-list {
  display: none;
}

.nav-links.current {
  position: relative;
}

.burger-menu {
  border: none;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
}

.burger-icon {
  display: block;
  stroke: #2e2f42;
}

.banner-container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* header tablet */

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: 120px;
  }

  .nav-links-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav-links {
    position: relative;
    display: block;
    padding: 24px 0;

    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-links::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    border-radius: 4px;

    background-color: #404bbf;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-links:hover::after,
  .nav-links:focus::after,
  .nav-links.current::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  .address-link-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: flex-end;
    padding: 12px 0;
  }

  .address-link {
    display: block;
    margin-left: auto;
  }

  .address-links {
    display: block;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-decoration: none;
    font-style: normal;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-links:is(:hover, :focus, .current),
  .address-links:is(:hover, :focus),
  .mobile-nav-link.current {
    color: #404bbf;
  }

  .burger-menu {
    display: none;
  }
}

@media not screen and (min-width: 1158px) {
  .address-item:not(:last-child) {
    margin-bottom: 8px;
  }
}

/* header desktop */

@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }

  .address-link-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: flex-end;
    padding: 24px 0;
  }

  .address-links {
    padding: 0 0;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* Mobile menu */

@media not screen and (min-width: 768px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;

    background-color: #ffffff;
    overflow-y: auto;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu:not(.is-open) {
    transform: translateX(110%);
  }

  .mobile-menu-container {
    position: relative;

    display: flex;
    flex-direction: column;
    max-width: 394px;
    height: 100%;
    padding-top: 80px;
  }

  .mobile-nav {
    padding-bottom: 40px;
    margin-bottom: auto;
  }

  .mobile-nav-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .mobile-nav-link,
  .mobile-tel-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
  }

  .mobile-nav-link.current {
    color: #404bbf;
  }

  .mobile-address {
    margin-bottom: 40px;
  }

  .mobile-address-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .mobile-tel-link {
    color: #4d5ae5;
  }

  @media screen and (max-width: 390px) {
    .mobile-tel-link {
      font-size: 24px;
    }
  }

  .mobile-email-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .mobile-social-list {
    max-width: 328px;
    padding-bottom: 40px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* hero section */

.hone-banner {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #fff;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 320px;
  margin: 0 auto 72px;
}

.banner {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 112px 0;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .banner {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-mobile@2.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 3),
  screen and (min-resolution: 288dpi),
  screen and (min-resolution: 3dppx) {
  .banner {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-mobile@3.jpg);
  }
}

.button {
  min-width: 169px;
  font-family: inherit;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 16px 32px;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* hero tablet */

@media screen and (min-width: 428px) {
  .banner {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tablet.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .banner {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-tablet@2.jpg);
    }
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    .banner {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-tablet@3.jpg);
    }
  }
}

@media screen and (min-width: 768px) {
  .banner {
    padding: 112px 0 108px;
  }

  .hone-banner {
    max-width: 496px;
    margin-bottom: 40px;
    font-size: 56px;
    line-height: 1.07;
  }
}

/* hero desktop */

@media screen and (min-width: 768px) {
  .banner {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .banner {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office@2.jpg);
    }
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    .banner {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office@3.jpg);
    }
  }
}

@media screen and (min-width: 1158px) {
  .banner {
    max-width: 1440px;
    margin: 0 auto;
    padding: 188px 0;
  }

  .hone-banner {
    margin-bottom: 48px;
  }
}

/* traits section */

.traits-thumb {
  display: none;
}

.htwo-text-two-section {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.2;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  margin-bottom: 8px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.htwo-text {
  font-weight: 700;
  font-size: 36px;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.hthree-text-traits {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

@media not screen and (min-width: 768px) {
  .trait-card:not(:last-child) {
    margin-bottom: 72px;
  }

  .hthree-text {
    text-align: center;
  }
}

/* traits tablet */

@media screen and (min-width: 768px) {
  .trait-ul {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .trait-card {
    width: calc((100% - 24px) / 2);
  }
}

@media not screen and (min-width: 1158px) {
  .paragraph {
    font-weight: 500;
  }
}

/* traits desktop */

@media screen and (min-width: 1158px) {
  .trait-card {
    width: calc((100% - 3 * 24px) / 4);
  }

  .traits-thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
  }

  .hthree-text-traits {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

/* our team section */

.hthree-text-team {
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.team {
  background-color: #f4f4fd;
}

.team-card {
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-card-name {
  padding: 32px 16px;
}

.social-icon {
  fill: #f4f4fd;
}

.social-list {
  display: flex;
  padding-top: 8px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  background-color: #4d5ae5;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.team-social-list {
  justify-content: space-between;
}

.paragraph-team {
  text-align: center;
}

@media not screen and (min-width: 768px) {
  .team-card:not(:last-child) {
    margin-bottom: 72px;
  }

  .container-our-team {
    max-width: 294px;
  }
}

/* our team tablet */

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .team-card {
    width: calc((100% - 24px) / 2);
  }
}

/* our team desktop */

@media screen and (min-width: 1158px) {
  .team-card {
    width: calc((100% - 3 * 24px) / 4);
  }
}

/* portfolio section */

.port-card {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-card:hover,
.port-card:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.port-card-name {
  padding: 32px 16px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  row-gap: 48px;
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.port-card:hover .overlay-text,
.port-card:focus .overlay-text {
  opacity: 1;
  transform: translateY(0);
}

.port-card:hover .port-card-name,
.port-card:focus .port-card-name {
  transform: translateY(0%);
}

.hthree-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0;
  transform: translateY(100%);

  background-color: #4d5ae5;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;

  letter-spacing: 0.02em;
  color: #f4f4fd;
}

@media not screen and (min-width: 768px) {
  .port-card:not(:last-child) {
    margin-bottom: 48px;
  }
}

/* portfolio tablet */

@media screen and (min-width: 768px) {
  .portfolio-cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .port-card {
    width: calc((100% - 24px) / 2);
  }
}

/* portfolio desktop */

@media screen and (min-width: 1158px) {
  .portfolio-list {
    row-gap: 48px;
  }

  .port-card {
    width: calc((100% - 2 * 24px) / 3);
  }
}

/* footer */

.footer-section {
  background-color: #2e2f42;
  color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  padding-left: 0;
  padding: 100px 0;
}

.logo-main-footer {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  font-style: normal;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-footer {
  color: #f4f4fd;
}

.paragraph-footer {
  max-width: 264px;
}

.social-label {
  display: inline-block;
  margin-bottom: 16px;

  font-weight: 500;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-social-list {
  gap: 16px;
  justify-content: center;
}

.footer-social-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-social-wrp {
  margin-bottom: 72px;
}

.footer-first-part {
  max-width: 264px;
}

.footer-social-wrp {
  margin-bottom: 0;
}

.page-footer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-start;
  row-gap: 72px;
}

.subscribe-title {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.subscribe-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.subscribe-input {
  width: 264px;
  height: 40px;
  padding-left: 16px;
  border: 1px solid #ffffff;
  border-radius: 4px;

  background-color: transparent;
  color: #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input:focus {
  border-color: #404bbf;
}

.subscribe-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  color: #ffffff;
}

.subscribe-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  fill: #f4f4fd;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #404bbf;
}

.send-icon {
  margin-left: 16px;
}

@media not screen and (min-width: 768px) {
  .footer-section {
    text-align: center;
  }

  .footer-first-part {
    margin: 0 auto;
    margin-bottom: 72px;
  }

  .paragraph-footer {
    text-align: left;
  }

  .footer-social-wrp {
    margin-bottom: 72px;
  }

  .subscribe-input {
    margin-bottom: 16px;
  }
}

/* footer tablet */

@media screen and (min-width: 768px) {
  .page-footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    row-gap: 72px;
  }

  .footer-first-part {
    margin-right: 24px;
  }

  .subscribe-input {
    width: 264px;
  }

  .subscribe-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .subscribe-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
  }
}

/* footer desktop */

@media screen and (min-width: 1158px) {
  .footer-section {
    padding: 100px 0;
  }

  .footer-first-part {
    margin-right: 120px;
  }

  .subscribe-wrapper {
    align-items: flex-start;
    margin-left: auto;
  }

  .subscribe-form {
    margin-left: auto;
  }
}

/* Modal */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px 15px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;

  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 100%;
  max-width: 392px;
  min-height: 576px;
  border-radius: 4px;
  padding: 72px 24px 24px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close-modal {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  color: #000000;
  background-color: #e7e9fc;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close-modal:hover,
.btn-close-modal:focus {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
}

.btn-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;

  color: #2e2f42;
}

.form-field {
  display: block;
  margin-bottom: 8px;
}

.form-field-textarea {
  margin-bottom: 16px;
}

.form-label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: #8e8f99;
}

.input-wrapper {
  position: relative;
  display: block;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  background-color: transparent;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  fill: #2e2f42;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: rgba(46, 47, 66, 0.4);

  background-color: transparent;
  resize: none;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: rgba(46, 47, 66, 0.4);
}

.form-input:focus,
.form-textarea:focus {
  border-color: #4d5ae5;
}
.form-field:focus-within .input-icon {
  fill: #4d5ae5;
}

.form-field-checkbox {
  margin-bottom: 24px;
}

.custom-checkbox {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-label > .custom-checkbox {
  fill: #f4f4fd;
  background-color: #404bbf;
  border: none;
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: #8e8f99;
}

.policy-link {
  position: relative;
  color: #4d5ae5;
  white-space: nowrap;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 1px;
  height: 1px;
  width: 100%;
  background-color: currentcolor;
}

.policy-link:hover,
.policy-link:focus {
  color: #404bbf;
}

.btn-send-form {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-send-form:hover,
.btn-send-form:focus {
  background-color: #404bbf;
}

/* modal tablet */

@media screen and (min-width: 768px) {
  .modal {
    max-width: 408px;
  }
}

/* modal desktop */

@media screen and (min-width: 1158px) {
}
